* {
  margin: 0;
  padding: 0;
  font-family: "Prompt", sans-serif;
}

nav {
  top: 0;
  width: 100%;
  z-index: 2;
  background: linear-gradient(to bottom, #000000, #ffffff00);
}

footer {
  color: #fff;
  padding: 5%;
  background-color: #000;
}

footer p {
  font-size: 16px;
}

.nav-logo {
  height: 11.875rem;
}

.navbar-nav li.nav-item a.nav-link {
  color: #fff;
  font-family: "Gothic A1", sans-serif;
  font-weight: bold;
  font-size: x-large;
}

.video-background {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 72vh;
  overflow: hidden;
  z-index: -1;
  background-color: #000;
}

.video-background video {
  width: 100%;
  height: 100%;
  /* min-width: 100%;
  min-height: 100%;
  overflow: hidden; */
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#description {
  padding: 11.25rem 11.25rem 9rem 9rem;
  background-color: #000;
  position: relative;
  overflow: hidden;
}

#description p {
  color: #fff;
  font-size: larger;
  position: relative;
  z-index: 2;
}

#description h5 {
  color: #fff;
  font-size: large;
  position: relative;
  z-index: 2;
}

.description-light {
  width: 60%;
  position: absolute;
  bottom: 0;
  margin-left: 44%;
  opacity: 50%;
}

/* Media query for smaller screens */
@media screen and (max-width: 992px) {
  #description {
    padding: 16px;
  }

  .description-light {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-left: 0%;
    opacity: 50%;
  }
}

#headline {
  color: black;
  font-family: "Gothic A1", sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
}

#countdown {
  background-image: url("/resources/images/2024/element-light2.png"); /* Specify the path to your image */
  background-size: 60;
  background-repeat: no-repeat;
  background-position: right center !important;
}
.countdown-number {
  color: black;
  font-family: "Gothic A1", sans-serif;
  font-weight: bold;
  font-size: 128px;
  text-align: center;
}

.countdown-separator {
  color: black;
  font-family: "Noto Sans Symbol";
  font-weight: bold;
  font-size: 128px;
  text-align: center;
}

.countdown-item {
  color: black;
  font-family: "Gothic A1", sans-serif;
  font-weight: regular;
  font-size: 40px;
  text-align: center;
}

/* Section Ticket */
.horizontal-scroll-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  scrollbar-color: #888 #e0e0e0;
  position: relative; /* Ensure the container supports absolute positioning */
}

.horizontal-scroll-wrapper::-webkit-scrollbar {
  height: 8px;
}

.horizontal-scroll-wrapper::-webkit-scrollbar-track {
  background: #e0e0e0;
}

.horizontal-scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
  border: 3px solid #e0e0e0;
}

.horizontal-scroll-wrapper::before,
.horizontal-scroll-wrapper::after {
  content: "";
  flex: 0 0 25%;
  height: 1px;
}

.div-descript {
  z-index: 2;
}

.img-light-container {
  position: absolute;
  margin-top: 10rem;
  margin-left: 0rem;
  z-index: 0;
  overflow: hidden;
}

.description-light-ticket {
  width: 150%;
  opacity: 50%;
}

.dots-container .dot {
  height: 5px;
  width: 20px;
  background-color: #bbb;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dots-container .dot.active,
.dots-container .dot:hover {
  background-color: #555;
}

.image-container {
  flex: 0 0 auto;
  width: 60%;
  padding: 5%;
  scroll-snap-align: center;
}

.img-fluid {
  width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.gradient-text-cinema {
  background: linear-gradient(to right, #8b6d55, #dda078 31%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-commu {
  background: linear-gradient(to right, #661499, #980cf2 31%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-inno {
  background: linear-gradient(to right, #f7b53a, #d65736 31%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-health {
  background: linear-gradient(to right, #cb2867, #b12939 31%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-tour {
  background: linear-gradient(to right, #15aa70, #17de91 31%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-cyber {
  background: linear-gradient(to right, #0cb0e9, #1c85c5 31%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-multi {
  background: linear-gradient(to right, #eb0c0c, #ff4e17 31%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contain-description {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.head-ticket-description {
  font-size: 14px;
}

.ticket-description {
  font-size: 10px;
}

.img-major {
  width: 6rem;
}

.img-media {
  max-width: 2rem;
  margin-right: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .contain-description {
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .head-ticket-description {
    font-size: 26px;
  }

  .ticket-description {
    font-size: 16px;
  }

  .dots-container .dot {
    height: 10px;
    width: 40px;
    margin: 0 15px;
  }

  .img-major {
    width: 12rem;
  }

  .img-media {
    max-width: 2rem;
    margin-right: 1.5rem;
  }

  .img-light-container {
    margin-top: 10rem;
    margin-left: 20rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .contain-description {
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 15rem;
    padding-right: 15rem;
  }

  .head-ticket-description {
    font-size: 46px;
  }

  .ticket-description {
    font-size: 26px;
  }

  .dots-container .dot {
    height: 10px;
    width: 50px;
    margin: 0 20px;
  }

  .img-major {
    width: 16rem;
  }

  .img-media {
    max-width: 2rem;
    margin-right: 1.5rem;
  }

  .img-light-container {
    margin-left: 40rem;
  }

  .description-light-ticket {
    width: 110%;
  }
}

/* Others */
/* ========== Align Text ========== */
.txtCenter {
  text-align: center;
}
.txtRight {
  text-align: right;
}
.noWrap {
  white-space: nowrap;
}
/* ========== Center & Middle ========== */
.divTable {
  display: table;
  width: 100%;
  height: 100%;
}
.divCell {
  display: table-cell;
  vertical-align: middle;
}

/* ========== Modal Show Image Gallery ========== */
.modalGallery {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.95);
}
.galleryClose {
  color: #666;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 8px;
  right: 30px;
}
.galleryClose:hover,
.galleryClose:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.modalGallery,
.modalGallery * {
  box-sizing: border-box;
}
.boxGridLR {
  display: grid;
  grid-template-areas: "left right right right right right";
  gap: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
}
#sideBox {
  grid-area: left;
  background-color: #333;
  border-radius: 5px;
  padding: 6px;
  overflow: hidden;
}
#sideScroll {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
#sideScroll::-webkit-scrollbar {
  width: 10px;
}
#sideScroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
#sideScroll::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
#sideScroll::-webkit-scrollbar-thumb:hover {
  background: #666;
}
.sideImg {
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  height: 8vh;
  width: calc(100% - 16px);
  margin: 12px 0;
  opacity: 0.25;
  transition: 0.5s;
}
.sideImg:first-child {
  margin-top: 0;
}
.sideImg:last-child {
  margin-bottom: 0;
}
.imgShow {
  opacity: 1;
  border: 4px solid #fff;
}
.sideImg:hover {
  opacity: 0.6;
  border: 2px solid #aaa;
  cursor: pointer;
}
#divShowGImg {
  grid-area: right;
  text-align: center;
  padding: 10px;
}
#showImg {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  transition: 0.5s;
}

/* ===== Resize ===== */
@media only screen and (max-width: 768px) {
  /* ===== Others ===== */
  /* Modal Gallery */
  .galleryClose {
    font-size: 40px;
  }
}
@media only screen and (max-width: 580px) {
  /* ===== Others ===== */
  /* Modal Gallery */
  .galleryClose {
    font-size: 18px;
    top: 4px;
    right: 14px;
  }
  .boxGridLR {
    grid-template-areas: "right" "right" "right" "right" "left";
  }
  #divShowGImg {
    padding-top: 25px;
  }
  #sideScroll {
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
  }
  #sideScroll::-webkit-scrollbar {
    height: 10px;
  }
  .sideImg {
    background-position: top left;
    background-size: auto 100%;
    height: calc(100% - 16px);
    width: 12vw;
    margin: 0 4px;
    display: inline-block;
  }
  .sideImg:first-child {
    margin-left: 0;
  }
  .sideImg:last-child {
    margin-right: 0;
  }
}

/* End Of Section Ticket */
